In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import json
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel(r"C:\Users\SUDEV DAS P\Downloads\House_Rent_Train.xlsx")

In [3]:
df

,id,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,...,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,ff8081815733a243015733b2876600a6,BHK2,NaN,21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,...,2.0,E,2.0,6.0,12.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2.0,40000.0
1,ff8081815ee25e15015ee50004da2acd,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,0,1,0,...,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
2,ff80818163f29c9e0163f46770b873e7,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0,1,0,...,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
3,ff80818164b68a700164b74b1b247a1d,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,...,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
4,ff80818163b1faf00163b4b9b8a163b1,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,...,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20550,19,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20551,20,BHK2,NaN,NaN,NaN,NaN,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20552,21,BHK2,NaN,NaN,NaN,NaN,NaN,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20553,22,BHK2,NaN,NaN,NaN,NaN,NaN,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20554,23,BHK1,NaN,NaN,NaN,NaN,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(20555, 25)

In [5]:
df.columns

Index(['id', 'type', 'locality', 'activation_date', 'latitude', 'longitude',
       'lease_type', 'gym', 'lift', 'swimming_pool', 'negotiable',
       'furnishing', 'parking', 'property_size', 'property_age', 'bathroom',
       'facing', 'cup_board', 'floor', 'total_floor', 'amenities',
       'water_supply', 'building_type', 'balconies', 'rent'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20555 entries, 0 to 20554
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               20555 non-null  object
 1   type             20528 non-null  object
 2   locality         20395 non-null  object
 3   activation_date  20532 non-null  object
 4   latitude         20532 non-null  float64
 5   longitude        20532 non-null  float64
 6   lease_type       20532 non-null  object
 7   gym              20555 non-null  int64
 8   lift             20555 non-null  int64
 9   swimming_pool    20555 non-null  int64
 10  negotiable       20555 non-null  int64
 11  furnishing       20555 non-null  object
 12  parking          20555 non-null  object
 13  property_size    20555 non-null  int64
 14  property_age     20532 non-null  float64
 15  bathroom         20532 non-null  float64
 16  facing           20532 non-null  object
 17  cup_board        20532 non-null  float64
 18  floor            20532 non-null  float64
 19  total_floor      20532 non-null  float64
 20  amenities        20532 non-null  object
 21  water_supply     20532 non-null  object
 22  building_type    20532 non-null  object
 23  balconies        20532 non-null  float64
 24  rent             20532 non-null  float64
dtypes: float64(9), int64(5), object(11)
memory usage: 3.9+ MB

In [7]:
df.describe()

,latitude,longitude,gym,lift,swimming_pool,negotiable,property_size,property_age,bathroom,cup_board,floor,total_floor,balconies,rent
count,20532.000000,20532.000000,20555.000000,20555.000000,20555.000000,20555.000000,20555.000000,20532.000000,20532.000000,20532.000000,20532.000000,20532.000000,20532.000000,20532.000000
mean,12.945748,77.637295,0.227049,0.362053,0.174848,0.711603,1062.017465,5.769920,1.858465,4.549922,1.874050,3.801335,1.149523,19056.733148
std,0.029601,0.110525,0.418935,0.480606,0.379846,0.453028,591.207446,6.350989,0.710926,335.154787,2.183982,3.183697,0.993549,8434.029016
min,12.900004,77.500072,0.000000,0.000000,0.000000,0.000000,1.000000,-1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,8000.000000
25%,12.918176,77.572068,0.000000,0.000000,0.000000,0.000000,700.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,12500.000000
50%,12.943790,77.633506,0.000000,0.000000,0.000000,1.000000,1047.000000,5.000000,2.000000,2.000000,1.000000,3.000000,1.000000,17500.000000
75%,12.970979,77.695723,0.000000,1.000000,0.000000,1.000000,1285.000000,10.000000,2.000000,3.000000,2.000000,4.000000,2.000000,24000.000000
max,12.999999,80.266346,1.000000,1.000000,1.000000,1.000000,50000.000000,400.000000,21.000000,48026.000000,25.000000,26.000000,13.000000,50000.000000

# Data Cleaning

Let's drop the column since it has no relevance in analysis.

In [8]:
df.columns

Index(['id', 'type', 'locality', 'activation_date', 'latitude', 'longitude',
       'lease_type', 'gym', 'lift', 'swimming_pool', 'negotiable',
       'furnishing', 'parking', 'property_size', 'property_age', 'bathroom',
       'facing', 'cup_board', 'floor', 'total_floor', 'amenities',
       'water_supply', 'building_type', 'balconies', 'rent'],
      dtype='object')

In [9]:
df['amenities']

0        {"LIFT":true,"GYM":true,"INTERNET":true,"AC":f...
1        {"LIFT":true,"GYM":false,"INTERNET":false,"AC"...
2        {"LIFT":true,"GYM":false,"INTERNET":false,"AC"...
3        {"LIFT":false,"GYM":false,"INTERNET":false,"AC...
4        {"LIFT":false,"GYM":false,"INTERNET":false,"AC...
                               ...
20550                                                  NaN
20551                                                  NaN
20552                                                  NaN
20553                                                  NaN
20554                                                  NaN
Name: amenities, Length: 20555, dtype: object

In [10]:
df.drop('id',axis = 1, inplace=True)

In [11]:
df[df.duplicated()].shape

(40, 24)

There are 40 duplicate rows. We should remove them

In [12]:
df.drop_duplicates()

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,...,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,BHK2,NaN,21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,0,...,2.0,E,2.0,6.0,12.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2.0,40000.0
1,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,0,1,0,1,...,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
2,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0,1,0,0,...,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
3,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,...,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
4,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,...,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20542,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20544,BHK1,NaN,NaN,NaN,NaN,NaN,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20545,BHK2,NaN,NaN,NaN,NaN,NaN,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20546,BHK1,NaN,NaN,NaN,NaN,NaN,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20547,BHK1,NaN,NaN,NaN,NaN,NaN,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.isnull().sum()

type                27
locality           160
activation_date     23
latitude            23
longitude           23
lease_type          23
gym                  0
lift                 0
swimming_pool        0
negotiable           0
furnishing           0
parking              0
property_size        0
property_age        23
bathroom            23
facing              23
cup_board           23
floor               23
total_floor         23
amenities           23
water_supply        23
building_type       23
balconies           23
rent                23
dtype: int64

Dropping rows with huge number of null values since these values cannot be imputed and hence these data cannot be used for any analysis

In [14]:
df.isnull().sum(axis=1).value_counts()

0     20377
1       155
16       14
17        9
dtype: int64

In [15]:
df = df[df.isnull().sum(axis = 1)<15]

In [16]:
df

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,...,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,BHK2,NaN,21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,0,...,2.0,E,2.0,6.0,12.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2.0,40000.0
1,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,0,1,0,1,...,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
2,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0,1,0,0,...,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
3,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,...,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
4,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,...,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20527,NaN,"Gattigere,RR Nagar",13-12-2017 18:08,12.925380,77.524397,ANYONE,1,1,1,1,...,3.0,E,3.0,4.0,4.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2.0,25000.0
20528,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,...,2.0,N,2.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORPORATION,IH,2.0,30000.0
20529,BHK2,Kumaraswamy Layout,21-12-2017 21:18,12.901800,77.566597,FAMILY,1,1,0,1,...,2.0,W,2.0,5.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2.0,16000.0
20530,BHK2,Indiranagar,28-06-2018 21:58,12.965502,77.647694,FAMILY,0,1,0,0,...,2.0,E,2.0,2.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,3.0,30000.0
20531,BHK1,Malleshwaram West,2018-08-07 22:31:00,12.998645,77.574336,ANYONE,0,0,0,1,...,1.0,E,1.0,1.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,8500.0

In [17]:
df.isnull().sum()

type                18
locality           137
activation_date      0
latitude             0
longitude            0
lease_type           0
gym                  0
lift                 0
swimming_pool        0
negotiable           0
furnishing           0
parking              0
property_size        0
property_age         0
bathroom             0
facing               0
cup_board            0
floor                0
total_floor          0
amenities            0
water_supply         0
building_type        0
balconies            0
rent                 0
dtype: int64

In [18]:
df['amenities'] = df['amenities'].apply(json.loads)

In [19]:
normalized_df = pd.json_normalize(df['amenities'])

In [20]:
normalized_df

,LIFT,GYM,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP
0,True,True,True,False,True,True,True,True,True,False,True,True,True,False,True,True,False,True,True
1,True,False,False,False,False,False,False,False,False,False,True,True,False,True,True,True,False,True,True
2,True,False,False,False,False,False,False,True,False,False,False,True,False,True,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20527,True,True,True,False,False,True,True,True,False,False,True,True,False,False,False,False,False,True,True
20528,False,False,True,False,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False
20529,True,True,True,False,True,False,False,True,False,False,True,False,False,True,False,False,False,True,False
20530,True,False,True,False,False,False,False,True,True,False,True,True,False,True,False,False,True,True,True
20531,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False

In [21]:
df = pd.concat([df,normalized_df], axis=1)

In [22]:
df.columns

Index(['type', 'locality', 'activation_date', 'latitude', 'longitude',
       'lease_type', 'gym', 'lift', 'swimming_pool', 'negotiable',
       'furnishing', 'parking', 'property_size', 'property_age', 'bathroom',
       'facing', 'cup_board', 'floor', 'total_floor', 'amenities',
       'water_supply', 'building_type', 'balconies', 'rent', 'LIFT', 'GYM',
       'INTERNET', 'AC', 'CLUB', 'INTERCOM', 'POOL', 'CPA', 'FS', 'SERVANT',
       'SECURITY', 'SC', 'GP', 'PARK', 'RWH', 'STP', 'HK', 'PB', 'VP'],
      dtype='object')

In [23]:
df.isnull().sum()

type                 18
locality            137
activation_date       0
latitude              0
longitude             0
lease_type            0
gym                   0
lift                  0
swimming_pool         0
negotiable            0
furnishing            0
parking               0
property_size         0
property_age          0
bathroom              0
facing                0
cup_board             0
floor                 0
total_floor           0
amenities             0
water_supply          0
building_type         0
balconies             0
rent                  0
LIFT                  0
GYM                  62
INTERNET              0
AC                    0
CLUB               1067
INTERCOM              0
POOL                  0
CPA                1067
FS                    0
SERVANT            1067
SECURITY              0
SC                    0
GP                 1067
PARK                  0
RWH                1067
STP                1067
HK                    0
PB                    0
VP                 1067
dtype: int64

In [24]:
df.drop(['LIFT','GYM','POOL','CPA', 'FS','SC', 'GP','RWH', 'STP', 'HK', 'PB', 'VP','amenities','CLUB','SERVANT'],axis=1,inplace=True)

Let's clean the columns one by one.

### Type

In [25]:
df['type'].value_counts()

BHK2        11671
BHK3         4387
BHK1         3607
RK1           553
BHK4          233
BHK4PLUS       31
bhk2           16
bhk3           12
1BHK1           4
Name: type, dtype: int64

In [26]:
df.replace({'bhk2':'BHK2','bhk3':'BHK3','1BHK1':'BHK1','BHK4PLUS':'BHK4+'},inplace=True)

In [27]:
df['type'].value_counts()

BHK2     11687
BHK3      4399
BHK1      3611
RK1        553
BHK4       233
BHK4+       31
Name: type, dtype: int64

In [28]:
df['bathroom'] = df['bathroom'].astype('int')

In [29]:
df[['type','bathroom']]

       type  bathroom
0      BHK2         2
1      BHK2         2
2      BHK3         3
3      BHK1         1
4      BHK3         3
...     ...       ...
20527   NaN         3
20528  BHK2         2
20529  BHK2         2
20530  BHK2         2
20531  BHK1         1

[20532 rows x 2 columns]

In [30]:
df[df['type'].isnull()]

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,...,total_floor,water_supply,building_type,balconies,rent,INTERNET,AC,INTERCOM,SECURITY,PARK
20486,NaN,Whitefield,2018-02-01 14:41:00,12.978994,77.752149,ANYONE,0,0,0,1,...,5.0,CORP_BORE,AP,2.0,25000.0,True,False,False,False,False
20487,NaN,Jayanagar,22-11-2017 15:50,12.938239,77.584256,ANYONE,0,0,0,1,...,3.0,CORP_BORE,AP,0.0,35000.0,True,False,False,False,False
20488,NaN,Sarjapur Road Wipro To Railway Crossing,2017-12-08 13:40:00,12.905571,77.701797,FAMILY,1,1,0,0,...,5.0,CORP_BORE,AP,2.0,18000.0,False,False,False,True,False
20493,NaN,"Someshwara Layout,Doddakannelli",22-01-2018 16:58,12.904160,77.691874,ANYONE,1,1,0,0,...,4.0,CORP_BORE,AP,2.0,23000.0,True,False,False,True,False
20494,NaN,"Seetharampalya,Hoodi",2017-10-07 17:15:00,12.985818,77.711033,FAMILY,1,1,1,1,...,4.0,BOREWELL,AP,2.0,30000.0,True,False,True,True,False
20495,NaN,"Gattigere,RR Nagar",13-12-2017 18:08,12.925380,77.524397,ANYONE,1,1,1,1,...,4.0,BOREWELL,AP,2.0,25000.0,True,False,True,True,False
20502,NaN,Whitefield,2018-02-01 14:41:00,12.978994,77.752149,ANYONE,0,0,0,1,...,5.0,CORP_BORE,AP,2.0,25000.0,True,False,False,False,False
20503,NaN,Jayanagar,22-11-2017 15:50,12.938239,77.584256,ANYONE,0,0,0,1,...,3.0,CORP_BORE,AP,0.0,35000.0,True,False,False,False,False
20504,NaN,Sarjapur Road Wipro To Railway Crossing,2017-12-08 13:40:00,12.905571,77.701797,FAMILY,1,1,0,0,...,5.0,CORP_BORE,AP,2.0,18000.0,False,False,False,True,False
20509,NaN,"Someshwara Layout,Doddakannelli",22-01-2018 16:58,12.904160,77.691874,ANYONE,1,1,0,0,...,4.0,CORP_BORE,AP,2.0,23000.0,True,False,False,True,False
20510,NaN,"Seetharampalya,Hoodi",2017-10-07 17:15:00,12.985818,77.711033,FAMILY,1,1,1,1,...,4.0,BOREWELL,AP,2.0,30000.0,True,False,True,True,False
20511,NaN,"Gattigere,RR Nagar",13-12-2017 18:08,12.925380,77.524397,ANYONE,1,1,1,1,...,4.0,BOREWELL,AP,2.0,25000.0,True,False,True,True,False
20518,NaN,Whitefield,2018-02-01 14:41:00,12.978994,77.752149,ANYONE,0,0,0,1,...,5.0,CORP_BORE,AP,2.0,25000.0,True,False,False,False,False
20519,NaN,Jayanagar,22-11-2017 15:50,12.938239,77.584256,ANYONE,0,0,0,1,...,3.0,CORP_BORE,AP,0.0,35000.0,True,False,False,False,False
20520,NaN,Sarjapur Road Wipro To Railway Crossing,2017-12-08 13:40:00,12.905571,77.701797,FAMILY,1,1,0,0,...,5.0,CORP_BORE,AP,2.0,18000.0,False,False,False,True,False
20525,NaN,"Someshwara Layout,Doddakannelli",22-01-2018 16:58,12.904160,77.691874,ANYONE,1,1,0,0,...,4.0,CORP_BORE,AP,2.0,23000.0,True,False,False,True,False
20526,NaN,"Seetharampalya,Hoodi",2017-10-07 17:15:00,12.985818,77.711033,FAMILY,1,1,1,1,...,4.0,BOREWELL,AP,2.0,30000.0,True,False,True,True,False
20527,NaN,"Gattigere,RR Nagar",13-12-2017 18:08,12.925380,77.524397,ANYONE,1,1,1,1,...,4.0,BOREWELL,AP,2.0,25000.0,True,False,True,True,False

We can impute null values in type column by looking at the number of bathrroms

In [31]:
def fill_type(row):
    if pd.isna(row['type']) :
        return f"BHK{row['bathroom']}"
    return row['type']

In [32]:
df['type'] = df.apply(fill_type, axis=1)

In [33]:
df['type'].isnull().sum()

0

In [34]:
df['type'].value_counts()

BHK2     11693
BHK3      4411
BHK1      3611
RK1        553
BHK4       233
BHK4+       31
Name: type, dtype: int64

### Locality

In [35]:
df['locality'].value_counts().tail(50)

Jai Bheema Nagar                                                                                                      1
DSR TOPAZ, Green Glen Layout, Bellandur, Bengaluru, Karnataka, India                                                  1
Kaggadasapura Main Road, Kaggadasapura, Bengaluru, Karnataka, India                                                   1
1741, 9th Cross Road, JP Nagar, Bengaluru, Karnataka, India                                                           1
Cubbonpete, Nagarathpete, Bengaluru, Karnataka, India                                                                 1
T R Nagar                                                                                                             1
Koramangala, 1st Block Koramangala                                                                                    1
Gavipuram Extention                                                                                                   1
Banashakari                                                                                                           1
Mahadevapura, B Narayanapura, Bengaluru, Karnataka, India                                                             1
Doddanekkundi, Ferns City, Doddanekkundi, Bengaluru, Karnataka, India                                                 1
chennasandra                                                                                                          1
Hampi Bus Stand, Hampi Nagar, RPC Layout, Vijaya Nagar, Bengaluru, Karnataka, India                                   1
FCI Layout, Deepanjali Nagar, Bengaluru, Karnataka, India                                                             1
33, Hosur Road, Nanjappa Layout, Adugodi, Bengaluru, Karnataka, India                                                 1
7th Block Jayanagar                                                                                                   1
Suddaguntepalya                                                                                                       1
J. P. Nagar, Bengaluru, Karnataka, India                                                                              1
Marthi Nagar                                                                                                          1
BTM 2nd Stage, Stage 2, Bengaluru, Karnataka, India                                                                   1
Sarjapur Road, Chikkakannalli, Bengaluru, Karnataka, India                                                            1
SR Krishnappa Garden, Jayanagar, Bengaluru, Karnataka, India                                                          1
Yemalur, Bengaluru, Karnataka, India                                                                                  1
Raja Rajeshwarinagar                                                                                                  1
5th Main, Teacher&#39;s Colony, Jakkasandra, Sector 6, HSR Layout, Bengaluru, Karnataka, India                        1
USHAPANDIAN ILLAM, 2nd Main Road, Pai Layout, Mahadevapura, Bengaluru, Karnataka, India                               1
Vinayaka Nagar,Vimanapura                                                                                             1
BTM LAYOUT STAGE 2                                                                                                    1
Harlur Main Road, PWD Quarters, 1st Sector, Harlur, Bengaluru, Karnataka, India                                       1
Aditya Layout,RR Nagar                                                                                                1
Pattabhirama Nagar,Jayanagar                                                                                          1
Kottivakkam                                                                                                           1
BTM Layout,BTM 2nd Stage                                                                                              1
Jogupalaya                                                                                                            1
Srinivasnagar, Banashankari                                                                                           1
3rdmain 5th cross link road kempegowdalayoutBanashankari, Bengaluru, Karnataka, India                                 1
Basaweshwar nagar                                                                                                     1
Agrahara Dasarahalli                                                                                                  1
59/3, 1st Cross Rd, Shamanna Reddy Layout, Virat Nagar, Bommanahalli, Bengaluru, Karnataka 560068, India,Bengaluru    1
KHB Colony                                                                                                            1
GNS Residency, Bhagat Singh Main Road, Bommanahalli, Bengaluru, Karnataka, India                                      1
HSR layout sector 6                                                                                                   1
Gavipuram                                                                                                             1
ITPL Gate 3, Whitefield, Bengaluru, Karnataka, India                                                                  1
Koramangala 4th Block,HSR Layout 5th Sector                                                                           1
Simhadri layout                                                                                                       1
Skylark Esta, Seetharampalya, Bengaluru, Karnataka, India                                                             1
23d, 2nd A Cross Rd, Srinivasnagar, Banashankari, Bengaluru, Karnataka 560050, India,Bengaluru                        1
Wilson Garden,                                                                                                        1
Mahadevapura bus stop, Mahadevapura, Bengaluru, Karnataka, India                                                      1
Name: locality, dtype: int64

There are some null values and some locality is givenas whole address. We chould deal with this

In [36]:
df.columns

Index(['type', 'locality', 'activation_date', 'latitude', 'longitude',
       'lease_type', 'gym', 'lift', 'swimming_pool', 'negotiable',
       'furnishing', 'parking', 'property_size', 'property_age', 'bathroom',
       'facing', 'cup_board', 'floor', 'total_floor', 'water_supply',
       'building_type', 'balconies', 'rent', 'INTERNET', 'AC', 'INTERCOM',
       'SECURITY', 'PARK'],
      dtype='object')

In [37]:
pip install geopy

Requirement already satisfied: geopy in c:\users\sudev das p\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\sudev das p\anaconda3\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [38]:
df

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,...,total_floor,water_supply,building_type,balconies,rent,INTERNET,AC,INTERCOM,SECURITY,PARK
0,BHK2,NaN,21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,0,...,12.0,CORP_BORE,AP,2.0,40000.0,True,False,True,True,False
1,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,0,1,0,1,...,4.0,CORPORATION,AP,2.0,22000.0,False,False,False,True,True
2,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0,1,0,0,...,5.0,CORP_BORE,AP,3.0,28000.0,False,False,False,False,True
3,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,...,2.0,CORPORATION,IH,0.0,8000.0,False,False,False,False,False
4,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,...,0.0,CORPORATION,IH,1.0,45000.0,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20527,BHK3,"Gattigere,RR Nagar",13-12-2017 18:08,12.925380,77.524397,ANYONE,1,1,1,1,...,4.0,BOREWELL,AP,2.0,25000.0,True,False,True,True,False
20528,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,...,2.0,CORPORATION,IH,2.0,30000.0,True,False,False,False,True
20529,BHK2,Kumaraswamy Layout,21-12-2017 21:18,12.901800,77.566597,FAMILY,1,1,0,1,...,5.0,BOREWELL,AP,2.0,16000.0,True,False,False,True,True
20530,BHK2,Indiranagar,28-06-2018 21:58,12.965502,77.647694,FAMILY,0,1,0,0,...,4.0,CORP_BORE,AP,3.0,30000.0,True,False,False,True,True
20531,BHK1,Malleshwaram West,2018-08-07 22:31:00,12.998645,77.574336,ANYONE,0,0,0,1,...,1.0,CORPORATION,IH,1.0,8500.0,False,False,False,False,True

In [39]:
locations = df[df['locality'].isnull()][['locality','latitude','longitude']]

In [40]:
locations

      locality   latitude  longitude
0          NaN  12.934471  77.634471
68         NaN  12.916572  77.653858
126        NaN  12.988281  77.698081
530        NaN  12.904404  77.570353
604        NaN  12.926315  77.596777
...        ...        ...        ...
20393      NaN  12.968302  77.527154
20394      NaN  12.969651  77.658173
20433      NaN  12.920966  77.607557
20434      NaN  12.920497  77.560153
20448      NaN  12.980674  77.714798

[137 rows x 3 columns]

In [41]:
from geopy.geocoders import Nominatim

In [42]:
#Code block for replacing the null values in locality column using it's latitude ang longitude

locator = Nominatim(user_agent="rent_prdictor")

for i in locations.index:
    lat = df['latitude'][i]
    lon = df['longitude'][i]
    coordinates = f"{lat}, {lon}"
    location = locator.reverse(coordinates)
    suburb = location.raw['address'].get('suburb')
    df['locality'][i] = suburb

In [43]:
df['locality'].isnull().sum()

0

In [44]:
df['locality'].nunique()

1952

In [45]:
df['locality'].value_counts()

Whitefield                                                          903
HSR Layout                                                          682
Banashankari                                                        644
Marathahalli                                                        473
Bellandur                                                           433
                                                                   ...
HSR layout sector 6                                                   1
Gavipuram                                                             1
ITPL Gate 3, Whitefield, Bengaluru, Karnataka, India                  1
Koramangala 4th Block,HSR Layout 5th Sector                           1
Mahadevapura bus stop, Mahadevapura, Bengaluru, Karnataka, India      1
Name: locality, Length: 1952, dtype: int64

In [46]:
whole_adress = df[df['locality'].apply(lambda x: len(x.split())>2)]

In [47]:
len(whole_adress)

3451

In [48]:
(df['locality'].value_counts()==1).sum()

1172

In [49]:
pip install reverse_geocoder

Requirement already satisfied: reverse_geocoder in c:\users\sudev das p\anaconda3\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.11.0 in c:\users\sudev das p\anaconda3\lib\site-packages (from reverse_geocoder) (1.21.5)
Requirement already satisfied: scipy>=0.17.1 in c:\users\sudev das p\anaconda3\lib\site-packages (from reverse_geocoder) (1.9.1)
Note: you may need to restart the kernel to use updated packages.

In [50]:
whole_address = df[df['locality'].apply(lambda x : len(x.split())>2)]
whole_address

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,...,total_floor,water_supply,building_type,balconies,rent,INTERNET,AC,INTERCOM,SECURITY,PARK
7,BHK2,HSR Layout 5th Sector,30-07-2018 16:01,12.917414,77.631764,ANYONE,0,0,0,1,...,2.0,CORP_BORE,IH,0.0,22000.0,False,False,False,False,False
11,BHK2,ITPL Residential Flats,2017-05-11 16:14:00,12.986175,77.735956,ANYONE,1,1,0,1,...,4.0,CORPORATION,AP,2.0,32000.0,True,False,False,True,True
12,BHK2,Raja Rajeshwari Nagar,27-08-2017 16:55,12.925034,77.517115,ANYONE,0,1,0,1,...,4.0,CORPORATION,AP,1.0,11000.0,True,False,False,True,True
13,BHK2,"Prestige Shanthinikethan, Bengaluru, Karnataka...",2017-09-10 16:59:00,12.989002,77.727370,FAMILY,1,1,1,0,...,14.0,CORP_BORE,AP,2.0,32500.0,True,False,True,True,True
17,BHK3,BTM 2nd Stage,14-08-2017 12:02,12.908240,77.607409,ANYONE,0,0,0,0,...,2.0,CORPORATION,IF,1.0,21000.0,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20496,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,...,2.0,CORPORATION,IH,2.0,30000.0,True,False,False,False,True
20504,BHK3,Sarjapur Road Wipro To Railway Crossing,2017-12-08 13:40:00,12.905571,77.701797,FAMILY,1,1,0,0,...,5.0,CORP_BORE,AP,2.0,18000.0,False,False,False,True,False
20512,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,...,2.0,CORPORATION,IH,2.0,30000.0,True,False,False,False,True
20520,BHK3,Sarjapur Road Wipro To Railway Crossing,2017-12-08 13:40:00,12.905571,77.701797,FAMILY,1,1,0,0,...,5.0,CORP_BORE,AP,2.0,18000.0,False,False,False,True,False
20528,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,...,2.0,CORPORATION,IH,2.0,30000.0,True,False,False,False,True

In [58]:
import reverse_geocoder as rg
locator = Nominatim(user_agent="rent_prdictor")

for i in whole_address.index:
    lat = df['latitude'][i]
    lon = df['longitude'][i]
    coordinates = f"{lat},{lon}"
    
    try:
        location = locator.reverse(coordinates)
        suburb = location.raw['address'].get('suburb')
        if suburb is not None:
            df.loc[i, 'locality'] = suburb
    except KeyError:
        # Handle the case where 'suburb' key is missing in the address dictionary
        pass

[{'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},
 {'lat': '12.97194',
  'lon': '77.59369',
  'name': 'Bangalore',
  'admin1': 'Karnataka',
  'admin2': 'Bangalore Urban',
  'cc': 'IN'},

In [ ]:
df['locality'].value_counts()

### Activation Date

In [ ]:
df['activation_date'] = pd.to_datetime(df['activation_date'])

In [ ]:
df.activation_date.nunique()

In [ ]:
df['activation_date'].isnull().sum()

In [ ]:
df['activation_date'].value_counts()

### Latitude and Longitude

In [ ]:
df['latitude'].isnull().sum()

In [ ]:
df['longitude'].isnull().sum()

In [ ]:
df['latitude'].describe()

In [ ]:
df['longitude'].describe()

### Lease Type

In [ ]:
df['lease_type'].value_counts()

In [ ]:
df['lease_type'].isnull().sum()

### Gym

In [ ]:
df["gym"].value_counts()

In [ ]:
df['gym'].isnull().sum()

### Lift

In [ ]:
df['lift'].value_counts()

In [ ]:
df['lift'].isnull().sum()

### Swimming Pool

In [ ]:
df['swimming_pool'].value_counts()

### Negotiable

In [ ]:
df['negotiable'].value_counts()

### Furnishing

In [ ]:
df.furnishing.value_counts()

### Parking

In [ ]:
df['parking'].value_counts()

### Property Size

In [ ]:
df.property_size.describe()

In [ ]:
sns.boxplot(df['property_size'])

There are some outiliers in this column

### Property Age

In [ ]:
df['property_age']

In [ ]:
df.property_age.describe()

In [ ]:
sns.boxplot(df['property_age'])

There are some outliers in this column too.

### Bathroom

In [ ]:
df['bathroom'].value_counts()

In [ ]:
df[df['bathroom']==21]

In [ ]:
# It is not acceptable that a BHK3 apartment has 21 bathrooms. This is a data error so it should be handled. Replace it with mode of number of bathrooms for BHK3
df['bathroom'].replace({21:3},inplace=True)

In [ ]:
df.bathroom.value_counts()

### Facing

In [ ]:
df['facing'].value_counts()

### Cup Boards

In [ ]:
df['cup_board'].value_counts()

In [ ]:
df['cup_board'].describe()

In [ ]:
# Replacing the large values for cup boards which seems impossible in a rental home
cupboard = df[df['cup_board']>16][['type','cup_board']]
for i,c in cupboard.iterrows():
    df['cup_board'][i] = df[df['type']==c['type']]['cup_board'].mode(1)

In [ ]:
df['cup_board'].value_counts()

### Floor & Total Floor

In [ ]:
df['floor'].value_counts()

In [ ]:
df[df['floor']>df['total_floor']][['floor','total_floor']]

In [ ]:
# Total floors cannot be greater than floor, so we need t0 replace floor value for such data points
floor_index = df[df['floor']>df['total_floor']][['floor','total_floor']].index
for i in floor_index:
    df['floor'][i] = df['total_floor'][i]

In [ ]:
df[df['floor']>df['total_floor']][['floor','total_floor']]

### Water Supply

In [ ]:
df['water_supply'].value_counts()

### Building Type

In [ ]:
df['building_type'].value_counts()

### Balconies

In [ ]:
df.balconies.value_counts()

In [ ]:
df.balconies.describe()

### Internet

In [ ]:
df['INTERNET'].value_counts()

In [ ]:
df['INTERNET'] =  df['INTERNET'].replace({True:1,False:0})

In [ ]:
df['INTERNET'].value_counts()

### AC

In [ ]:
df['AC'].value_counts()

In [ ]:
df['AC'].replace({True:1,False:0}, inplace=True)

In [ ]:
df.AC.value_counts()

### Intercom

In [ ]:
df['INTERCOM'].value_counts()

In [ ]:
df['INTERCOM'].replace({True:1,False:0}, inplace=True)

In [ ]:
df.INTERCOM.value_counts()

### Security

In [ ]:
df['SECURITY'].value_counts()

In [ ]:
df['SECURITY'].replace({True:1,False:0}, inplace=True)

In [ ]:
df.SECURITY.value_counts()

### Park

In [ ]:
df.PARK.value_counts()

In [ ]:
df['PARK'].replace({True:1,False:0}, inplace=True)

In [ ]:
df.PARK.value_counts()

# EDA

## Univariate Analysis

In [ ]:
categorical = df.select_dtypes(include = ['object']).columns
for column in categorical:
    plt.figure(figsize=(50,4))
    ax = plt.subplot(141)
    df[column].value_counts(normalize = True).plot(kind = "bar")
    plt.xlabel(column)
    plt.ylabel("Customers")
    plt.title("Distribution of " + column)
    plt.show()

In [ ]:
df[columns[0]].value_counts().plot(kind='bar')

In [ ]:
type(df[columns[0]])